## MEDIDAS DE TENDÊNCIA CENTRAL

In [ ]:
# distancia =  (media - mediana) / mediana
# distancia = menor de 10% a média é confiavel 
# distancia = > 10% < 25% a média é moderadamente influciada por valores extremos
# distancia = > 25% a média é muito alterada por valores extremos

In [1]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('funcionarios_dados_ti.csv', sep= ';')
df

,Nome,Cargo,Salario,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ana Souza,Cientista de Dados,12000,NaN,NaN,NaN,NaN,NaN
1,Bruno Lima,Engenheiro de Dados,11500,NaN,NaN,NaN,NaN,NaN
2,Carla Mendes,Analista de BI,10500,NaN,NaN,NaN,NaN,NaN
3,Daniel Rocha,Engenheiro de Machine Learning,13000,NaN,NaN,NaN,NaN,NaN
4,Elisa Martins,Analista de Dados,9800,NaN,NaN,NaN,NaN,NaN
5,Felipe Andrade,Arquiteto de Dados,13500,NaN,NaN,NaN,NaN,NaN
6,Gabriela Torres,Engenheira de Dados,11800,NaN,NaN,NaN,NaN,NaN
7,Henrique Silva,Cientista de Dados JÃºnior,10200,NaN,NaN,NaN,NaN,NaN
8,Isabela Ferreira,Analista de BI Pleno,10800,NaN,NaN,NaN,NaN,NaN
9,JoÃ£o Pedro Ramos,Engenheiro de Dados SÃªnior,14000,NaN,NaN,NaN,NaN,NaN
10,Karina Oliveira,Especialista em Big Data,12500,NaN,NaN,NaN,NaN,NaN
11,Lucas Almeida,Analista de Dados JÃºnior,9700,NaN,NaN,NaN,NaN,NaN
12,Mariana Costa,Cientista de Dados Pleno,11000,NaN,NaN,NaN,NaN,NaN
13,Nelson Barros,Engenheiro de Dados JÃºnior,10100,NaN,NaN,NaN,NaN,NaN
14,Olivia Nascimento,Analista de BI SÃªnior,10900,NaN,NaN,NaN,NaN,NaN
15,Paulo Henrique,Arquiteto de SoluÃ§Ãµes de Dados,13200,NaN,NaN,NaN,NaN,NaN
16,QuÃ©sia Duarte,Cientista de Dados SÃªnior,14500,NaN,NaN,NaN,NaN,NaN
17,Rafael Teixeira,Engenheiro de Dados Pleno,11900,NaN,NaN,NaN,NaN,NaN
18,Sabrina Lopes,Analista de Dados Pleno,9900,NaN,NaN,NaN,NaN,NaN
19,Tiago Moreira,Especialista em Dados,12700,NaN,NaN,NaN,NaN,NaN

In [5]:
df_array = np.array(df['Salario'])

In [9]:
media = np.mean(df_array)
mediana = np.median(df_array)

In [10]:
print(f'A média é {media}')
print(f'A mediana é {mediana}')

A média é 11675.0
A mediana é 11650.0

In [18]:
distancia =  (media - mediana) / mediana
print(f'a distância é de {round(distancia*100,2)}%')

a distância é de 0.21%

## Outliers

In [ ]:
# Valores que se distanciam significamente dos demais dados
# Podem indicar erros, variabilidade natural ou fenômenos interessantes
# Importância: ajudam a entender padrões e exceções nos dados

In [ ]:
# Identificação: análise gráfica (boxplot), estatísticas (IQR, z-score)
# Tratamento: remoção, substituição ou análise separada
# Decisão depende do contexto e objetivo de análise

In [ ]:
# iqr = Q3 - Q1  (intervalo interquartil) 
# limite superior = Q3 + (1.5 * iqr)
# limite inferior = Q1 + (1.5 * iqr)
# Valores fora desses limites são considerados Outliers